body {
  width: 50%;
  background: url("../image/bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #ffffff;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.radiobox-tremolo {
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.radiobox-tremolo:focus {
  box-shadow: 0 0 10px royalblue;
  border-radius: 20px;
}
